
/*checklist*/
body {
  margin: 0;
  min-width: 250px;
}

ul#checklist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  margin: 30px;
}



ul#checklist  li{                                  /* Estilo de cada item */
    
    cursor: pointer;
    position: relative;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

ul#checklist li:last-child {
  border: none;
}

ul#checklist li div{
  text-decoration: none;
  color: #000;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  display: inline-block;
  width: 200px;
}

ul#checklist .smenu:hover {                             /* Estilo no hover */
  font-size: 25px;
  background: rgb(195, 202, 183);
}

ul#checklist .smenu-info {                                       /*formato e posicionamento do submenu (a não aparecer logo, só no hover) */
  display: none;
  position: absolute;
  z-index: 1;
  left:200px;
  top:0px;

}

ul#checklist .smenu-info div {
  display: block;
  font-size: 16px;
  border:1px solid #ccc;
  width: 250px;    

}

ul#checklist .menu:hover .smenu-info {
    display:inline-block;
}



ul#checklist  .subitem:hover {
    background: rgb(195, 202, 183);
}
ul#checklist .subitemNovo:hover {                    
   background: rgb(195, 202, 183);
}
 .pesquisa {                                                  /* Estilo do cabeçalho de pesquisa */

  width: 70%;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.pesquisa:after {                                             /* limpar floats */
    content: "";
    display: table;
    clear: both;
}

 .pesquisa input {                               /* estilo da caixa de texto */
    border: none;
    width: 35%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
.tituloChecklist {
  position: relative;
  color: black;
  text-align: left;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
   font-size: 18px;
   bottom:10px;
}
.inserirNovo {                              /* Estilo do botão de inserir*/
    padding: 10px;
    width: 200px;
    background: #d9d9d9;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    right: 0px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.inserirNovo:hover {
    background-color: #bbb;
}

#categoriaNovoItem {
  position: absolute;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 3px;
  right:855px;
  height: 38px;

}

.tituloTabela{
  text-align: center;
  vertical-align: middle;
  font-size: normal;
  height: 40px;
  color: black;
  font-weight: bold;
  background-color: rgb(195, 202, 183);

}
.categorias{
  position: relative;
    top:30px;
  display: flex;
  
}
.categorias ul, .tabelaChecked ul{
list-style-type: none;
padding: 10px;
text-align: center;

}
.categorias ul li , .tabelaChecked ul h2{
 text-align: center;
font-size: 18px;
font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}
.categorias ul li .cat, .tabelaChecked ul li input{
 text-align: center;
cursor: pointer;
width: 150px;
height: 25px;
border: 1px solid #267326;
background-color: #267326;
color: white;
font-size: 20px;
font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
}
.eliminar{
  cursor: pointer;
  width: 20px;
}
.tabelaChecked {
  position:absolute;
  left: 1100px;
  top: 200px;
}

